@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
  color: whitesmoke;
}

html,
body {
  background-color: #133044;
}

.wrapper {
  max-width: 1200px;
  height: auto;
  margin: 30px auto;
  overflow-x: hidden;
  overflow-y: auto;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-and-todo-box {
  width: 500px;
  margin: auto;
  height: auto;
}

.form-and-todo-box .input-and-button {
  height: 45px;
  overflow: hidden;
  display: flex;
}

.form-and-todo-box .input-and-button input {
  width: 92%;
  height: 100%;
  outline: none;
  border: none;
  text-indent: 2px;
  font-size: 20px;
  color: black;
  padding: 5px;
  border: 1px solid whitesmoke;
}

.form-and-todo-box .input-and-button .button {
  width: 10%;
  height: 100%;
  background-color: #1d1e2c;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid whitesmoke;
}

.form-and-todo-box .input-and-button .button button {
  outline: none;
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-size: 15px;
}

.form-and-todo-box .input-and-button .button.edit {
  width: auto;
  padding: 0px 10px;
}

.todo-lists {
  margin: 15px 0px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid;
  padding-bottom: 5px;
}

.todo-lists input {
  margin-right: 5px;
}

.todo-lists span {
  font-size: 20px;
  font-weight: 600;
}

.todo-lists .edit-and-delete {
  display: flex;
  cursor: pointer;
  font-size: 20px;
}

.delete-all {
  padding: 10px;
  cursor: pointer;
  background-color: #1d1e2c;
  border: 1px solid whitesmoke;
}
